# Dependencies
node_modules/

# Database files
.pgdata/
*.db

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build / production
dist/
build/
.next/
out/
.nuxt/
.output/
.cache/
.parcel-cache/
.vite/

# Test / coverage
coverage/
.nyc_output/
*.lcov

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# IDE / editor
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Package manager
*.tgz
.pnpm-store/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Miscellaneous caches
.eslintcache
.stylelintcache
.node_repl_history